/* body{
  font-family: Plus Jakarta Sans;
}
.container_career{
  display: flex;
  height: 100vh;
}
  
  .left-section {
    width: 40%;

    background-color: #194C6F;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .illustration img {
    width: 650px;
    height: 480px;
  }
  
  .right-section {

    width: 60%;
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: white;
  }
  
  .question-header h2 {
    margin: 0 30px;
    font-size: 24px;
  }
  
  .question-header p {
    width: 750px;
    font-size: 18px;
    margin: 20px 30px;
    font-size: 32px;
    font-weight: 500;
  }
  
  .options {
    display: flex;
    flex-direction: column;
  }
  
  .option {
    display: flex; 
    align-items: center; 
    width: 748px;
    height: 70px;
    border-radius: 50px;
    border: 1px solid #194C6F;
    padding-left: 50px;
    margin-left: 10px;
    margin-bottom: 10px;
    font-size: 20px;
    cursor: pointer;
    background-color: white;
    color: #242424;
    text-align: left;
  }
  
  .option:hover {

    background-color: #194C6F;
    color: white;
  }
  
  .navigation {
    display: flex;
    justify-content: space-between;
    margin: 10px 100px 0 30px;
  }
  
  .next-btn {
    width: 180px;
    height: 50px;
    border-radius: 50px;
    border: 1px;
    margin-bottom: 10px;
    border: 4px solid #194C6F;
    font-size: 20px;
    cursor: pointer;
    background-color: white;
    color: #242424;
    text-align: center;
  }
  
  .prev-btn:disabled {
    background-color: grey;
    cursor: not-allowed;
  }
  .option.selected {
    background-color: #194C6F;
    color: white;
  }

  .endm{
    color: #194C6F;
    font-size: 84px;
    text-align: center;
    font-weight: 600;
  }
  .endp{
    text-align: center;
  color: #2F78AA;
  font-size: 32px;
  line-height: 60px;
  }
  .endb{
  
    background-color: #194C6F;
    border-radius: 50px;
    padding: 10px 40px;
    color: white;
    margin-top:100px;
    margin-left: 550px;
  
 
  }

.progress-bar {
  margin-left: 20px;
  width: 750px;
  height: 20px;
  background-color: #e0e0e0;
  border-radius: 50px;
  margin-bottom: 20px;
} */


.progress-bar-fill {
  height: 100%;
  background-color: #1d4f91; /* Color for the filled portion */
  border-radius: 50px;
  transition: width 0.3s ease-in-out; /* Smooth transition */
}
